.App {

  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: red;
  color: white;
}

img {
  max-width: 16rem;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px
}






















































/* #root {
  width: 100vw;
  height: 100vh;
  background-color: white;

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.imageContainer {
  width: 100vw;
  height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  
  }
  

.memoryImage {
  width: 100px;
  height: 100px;
}

.newGame {
  width: 6rem;
  height: 6rem;
} */





